body
{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 20px;
	background-color: #E5E5E5;
	color: #533738;
}

/*Container
++++++++++++++++++++++++++++*/
.container {
	width: 100%;
	max-width: 1401px; 
	margin: 10px auto;
	font-size: 16px; 
}

/*Header
++++++++++++++++++++++++++++*/

.header {
	width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

/*Nav
++++++++++++++++++++++++++++*/

.nav {
	width: 100%;
	font-weight: 1000;
	font-size: 16px;
	line-height: 20px;
	color: #533738;
	padding-left: auto;
	}

.nav__link {
	margin-left: 27px;
	text-decoration: none;
	color: #533738;
}

.nav__link:first-child {
	margin-right: 80px;
	margin-left: 0px;
	color: #533738;
	
}

.nav__link:hover {
	text-decoration: none;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.30);
}

.nav__link:active{
	text-decoration: none;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

/*Intro++++++++++++++++++++++++++++*/

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 715px;
	width: 100%;
	padding-top: 154px;
	background: #E5E5E5 url("intro.jpg") no-repeat;
	background-size: cover;

}

.intro_inner {
	width: 100%;
	max-width: 534px;
	max-height: 393px;
    position: absolute;
    top: 190px;
    left: 184px;
	
}

.intro_title {
	font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 62px;
}

.intro__subtitle {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	max-width: 424px;
}


/*Button
=====================*/

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 25px 65px;
	font-size: 20px;
	line-height: 24px;
	font-style: bold;@
	font-weight: 500;
	color: #533738;
	text-decoration: none;
}

.btn--pink{
	background:  #CC8B86;
}

/*About
=====================*/


.about {
	display: flex;
	width: 100%;
	justify-content: space-between;
    flex-direction: column;
    padding-top: 65px;
    padding-bottom: 40px;
    text-align: center;
}

.about__title {
	text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 65px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}


.about__container {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-left: 182px;
    margin-bottom: 20px;
    width: 1036px;
}


.about__text {
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	color: #533738;
	padding-left: 65.64px;
}

img {
	max-width: 100%;
    height: auto;
    padding-left: auto;

}


.brown-box {
	width: 100%;
    max-height: 273px;
    background-color: #8d7370;
    color: white;
    font-weight: 500px;
    font-style: normal;
}

.box-container {
	display: flex;
	justify-content: space-between;
	justify-content: space-around;
	align-items: center;
	}

.item {
	width: 33%
    font-size: 30px;
    line-height: 37px;
    text-align: center;

}

.number {
    font-size: 50px;
    line-height: 62px;
}


.works {
	background-color: #efe6e4;
	padding-top: 65px;
	padding-bottom: 77px;
  }
  .works-container {
	width: 1200px;
	margin: 0 auto;
}

h2 {
	text-transform: uppercase;
	color: #533738;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 50px;
}

.works__row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
  }

.works__col {
	padding-bottom: 30px;

}

.box {
	width: 488px;
	height: 451px;
	color: #fff;
	background: rgba(100, 72, 69, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.work__img1:hover .box{
	display: block;
}

.work__img1 {
	position: relative;
}

.h3__title {
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	text-align: center;
	color: #FFFFFF;	
	padding-top: 86px;
	
}

.p__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	margin: 30px 35px 80px 35px;
	text-align: left;

}

.more {
	margin-top: 10px;
	text-align: center;
  }
  .look-more {
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	color: #533738;
	margin-right: 10px;
	text-decoration: none;
  }



